<div class="container">
    <div class="row bg-white pb-5">
        <div>
            <div class="row mx-auto p-5 text-center">
                <div class="col">
                    <h2>Get to know me.</h2>
                </div>
            </div>
            <div class="row px-5 pb-5">
                <div class="col-md-12 col-lg-6">
                    <p class="text-center" style="font-size: min(max(16px, 4vw), 22px);"> I'm a junior engineer with
                        experience at every step of the software lifecycle.
                        I got into programming accidentally while writing copy for another developer, and found out
                        I
                        love
                        doing it. My preference is for new and challenging problems. I want to improve
                        on what I already know, learning from great engineers, and seeking out
                        the
                        newest technologies.</p>
                </div>
                <div class="col-md-12 col-lg-6 px-5">
                    <div><a href="https://placeholder.com"><img style="max-width:100%;height:auto;"
                                src="https://via.placeholder.com/600x337"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            <div class="row p-5 align-items-center">
                <div class="col-md-12 col-lg-6">
                    <img src="/assets/img/Kat_Yeary-6.jpg" style="border-radius:5%; max-width:80%;">
                </div>
                <div class="col-md-12 col-lg-6 py-5">
                    <div class="row text-center" style="font-size: min(max(16px, 4vw), 22px);">
                        <p>
                            I'm also a working stand-up comic, which I've been doing for about seven years. It's a
                            great
                            job,
                            especially
                            because it takes between ten minutes and an hour a day. Performing over zoom is
                            surprisingly
                            entertaining -
                            but
                            I'm
                            looking forward to never doing it again.
                        </p>
                        <p className="text-center">
                            I live with my fiancee Lauren, who is a tv writer and animator, and a cat. My main
                            hobbies
                            are
                            learning
                            languages (my original background is in translation) and painting (strictly the dumbest
                            things I
                            can
                            think
                            of). My taste in television is terrible.
                        </p>
                    </div>
                    <div class="row mx-auto p-5 text-center">

                        <div class="col"><a type="button" class="btn btn-link" href="https://github.com/koyeary" target="_blank"><i class="fab fa-github mr-3"></i>GitHub</a></div>
                        <div class="col"><a type="button" class="btn btn-link" href="https://www.linkedin.com/in/kat-yeary/" target="_blank"><i class="fab fa-linkedin-in mr-3"></i>LinkedIn</a></div>
                        <div class="col"><a type="button" class="btn btn-link" href="/resume"><i class="fas fa-code mr-3"></i>Resume</a></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
</div>