<div class="row">
    <div class="row bg-white">
        <div class="row mx-auto text-centered">
            <h1>Get to know me.</h1>
        </div>
        <div class="row p-5">
            <div class="col">
                <p> I'm a junior engineer with experience at every step of the software lifecycle.
                    I got into programming accidentally - while writing copy for another developer - and found out
                    I
                    love
                    doing it. My preference is for challenging problems. I want to learn something every day, improving
                    on what I already know, learning from great engineers, and seeking out
                    the
                    newest technologies.</p>

                <p>You can check out some of my projects and experience right here:</p>
                <div class="row">
                    <div class="col"><i class="fab fa-github mr-3"></i>GitHub</div>
                    <div class="col"><i class="fab fa-linkedin-in mr-3"></i>LinkedIn</div>
                    <div class="col"><i class="fas fa-code mr-3"></i>Resume</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark p-5 text-white">
        <div class="col">
            <div class="row">
                <div class="col-sm-12 col-md-4 pb-5">
                    <img src="/assets/img/Kat_Yeary-6.jpg" style="border-radius:5%;max-width:99%;">
                </div>
                <div class="col">
                    <div class="row">
                        <p className="card-description text-center">
                            I'm also a working stand-up comic, which I've been doing for about seven years. It's a
                            great
                            job,
                            especially
                            because it only takes about an hour a day. Performing over zoom has been surprisingly
                            entertaining -
                            but
                            I'm
                            looking forward to never doing it again.
                        </p>
                        <p className="card-description text-center mt-5">
                            I live with my fiancee Lauren, who is a tv writer and animator, and a cat. My main
                            hobbies
                            are
                            learning
                            languages (my original background is in translation) and painting (strictly the dumbest
                            things I
                            can
                            think
                            of). My taste in television is terrible.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>