<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="bg-white">
                <p> I'm a junior engineer with experience - and room to grow - at every step of the software lifecycle.
                    My
                    preference is for challenging problems, but my primary goal right now is to gain more experience and
                    learn
                    from great developers.
                </p>
                <p>I got into programming accidentally - while writing copy for another developer - and then found out I
                    love
                    doing it. I want to learn something new every day, improving on what I already know and seeking out
                    the
                    newest technologies.
                </p>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="bg-dark text-white">
                <p className="card-description text-center">
                    I'm a working stand-up comic, which I've been doing for about seven years. It's a great job,
                    especially
                    because it only takes about an hour a day. Performing over zoom has been surprisingly entertaining,
                    but
                    I'm
                    looking forward to never doing it again.
                </p>
                <p className="card-description text-center mt-5">
                    I live with my fiancee Lauren, who is a tv writer and animator, and a cat. My main hobbies are
                    learning
                    languages (my original background is in translation) and painting (strictly the dumbest things I can
                    think
                    of). My taste in television is terrible.
                </p>
            </div>

        </div>
    </div>
</section>