<div class="container">
    <div class="row bg-white">
        <div class="col-xs-0 col-sm-2"></div>
        <div class="col-xs-12 col-sm-8">
            <div class="row mx-auto p-5 text-center">
        <div class="col">
            <h2>Get to know me.</h2>
        </div>
        </div>
        <div class="row p-5">
            <div class="col">
                <p class="text-center" style="font-size: min(max(16px, 4vw), 22px);"> I'm a junior engineer with
                    experience at every step of the software lifecycle.
                    I got into programming accidentally - while writing copy for another developer - and found out
                    I
                    love
                    doing it. My preference is for challenging problems. I want to learn something every day, improving
                    on what I already know, learning from great engineers, and seeking out
                    the
                    newest technologies.</p>
            </div>
        </div>
        </div>
        <div class="col-xs-0 col-sm-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="col">
            <div class="row p-5">
                <div class="col-sm-12 col-md-4 ml-">
                    <img src="/assets/img/Kat_Yeary-6.jpg" style="border-radius:5%; max-width:100%;">
                </div>
                <div class="col p-5">
                    <div class="row text-center" style="font-size: min(max(16px, 4vw), 22px);">
                        <p>
                            I'm also a working stand-up comic, which I've been doing for about seven years. It's a
                            great
                            job,
                            especially
                            because it takes between ten minutes and an hour a day. Performing over zoom is surprisingly
                            entertaining -
                            but
                            I'm
                            looking forward to never doing it again.
                        </p>
                        <p className="card-description text-center mt-5">
                            I live with my fiancee Lauren, who is a tv writer and animator, and a cat. My main
                            hobbies
                            are
                            learning
                            languages (my original background is in translation) and painting (strictly the dumbest
                            things I
                            can
                            think
                            of). My taste in television is terrible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>