<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content px-3">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Say hello.</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="mail">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="name" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mb-3">
                            <label for="message">Message</label>
                            <textarea type="message" class="form-control" rows="5" id="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <div class="mb-3">
                            <input type="checkbox" class="form-check-input" id="signUp">
                            <label class="form-check-label" for="signUp">Keep in touch</label>
                            <small class="form-text text-muted">Get occasional updates about my projects. Opt out any
                                time.</small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{!-- <div class="col"></div>
        <div class="col">
            <div class="row">
                <h1>Contact</h1>
            </div>

            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea type="message" class="form-control" rows="5" id="message"></textarea>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="signUp">
                    <label class="form-check-label" for="signUp">Keep in touch</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
        <div class="col"></div> --}}