<section>
    <div class="jumbotron">
        <div class="container">
            <div class="text-right">
                <h1 class="display-4">Hi, I'm Kat Yeary</h1>
                <p class="lead">I'm a software engineer in Los Angeles, CA.</p>
            </div>

            <hr class="my-4"/>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            {{> contact }}
        </div>
    </div>
</section>