<section>
    <div class="jumbotron" style="height:75vh; background-image: url('/assets/img/katsbanner.png');background-size:cover;">
        <div class="container">
            <div class="text-right">
                <h1 class="display-4">Kat Yeary</h1>
                <p class="lead">Software Engineer, Los Angeles, CA.</p>
            </div>
            
            <hr class="my-5"/>
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            {{> contact }}
        </div>
    </div>
</section>