<nav class="navbar nav-color sticky-top justify-content-start">
        <ul class="nav">
                <li class="nav-item">
                        <a type="button" class="btn btn-link rounded" data-toggle="tooltip" data-placement="right" title="Back to main page" href="/"><i class="fas fa-arrow-left"></i></a>
                </li>
                <li class="nav-item">
                        <a type="button" class="btn btn-link" id="github" target="_blank"><i
                                        class="fab fa-github mr-3"></i></a>
                </li>
                <li class="nav-item">
                        <a type="button" class="btn btn-link" id="linkedIn"
                                target="_blank"><i class="fab fa-linkedin-in mr-3"></i></a>
                </li>
                <li class="nav-item">
                        <a class="btn btn-link" data-toggle="modal" data-target="#contact"><i
                                class="fas fa-paper-plane mr-2"></i>contact me</a>
                </li>
        </ul>
</nav>

{{> contact }}