<nav class="navbar top sticky-top justify-content-start">
        <ul class="nav">
                <li class="nav-item">
                        <a type="button" class="btn btn-link main" href="https://github.com/koyeary" target="_blank"><i
                                        class="fab fa-github mr-3"></i></a>
                </li>
                <li class="nav-item">
                        <a type="button" class="btn btn-link main" href="https://www.linkedin.com/in/kat-yeary/"
                                target="_blank"><i class="fab fa-linkedin-in mr-3"></i></a>
                </li>
                <li class="nav-item">
                        <a class="btn btn-link main" href="/resume" data-toggle="tooltip" data-placement="right"
                                title="Resume"><i class="fas fa-code mr-3"></i></a>
                </li>
                <li class="nav-item">
                        <a class="btn btn-link main" data-toggle="modal" data-target="#contact"><i
                                class="fas fa-paper-plane mr-2"></i></a>
                </li>
        </ul>
</nav>

{{> contact }}