<div class="container-fluid">
    <div class="row mx-auto p-5 text-center">
        <div class="col">
            <h3>You can check out some of my projects and experience right here:</h3>
        </div>
    </div>
    <div class="row mx-auto p-5 text-center">

        <div class="col"><i class="fab fa-github mr-3"></i>GitHub</div>
        <div class="col"><i class="fab fa-linkedin-in mr-3"></i>LinkedIn</div>
        <div class="col"><i class="fas fa-code mr-3"></i>Resume</div>

    </div>
    <hr class="m-5" />
</div>