<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Experience</h2>
    </div>

    <hr class="my-4" />

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title mb-4">Professional Experience</h3>
        <div class="resume-item">
          <h5>Lunde Water</h5>
          <h6>Software Engineer - Work-Order Application</h6>
          <p><em>Los Angeles, CA</em></p>
          <ul>
            <li>Develop back-end authentication server using passport-local</li>
            <li>Collaborate to create a final product with mapping, scheduling, purchasing, and payroll capabilities
            </li>
            <li>Structure complex code using multiple modules</li>
            <li>Collaborate with the client and team of developers to define and prioritize solutions</li>
          </ul>
        </div>
        <div class="resume-item">
          <h5>It's Animated Text</h5>
          <h6>Software Engineer - E-Commerce Platform</h6>
          <p><em>Los Angeles, CA</em></p>
          <ul>
            <li>Recreate tumblr environment and functionality using Tumblr API</li>
            <li>Use Agile development practices to collaboratively define, schedule, and execute project goals</li>
            <li>Dynamically integrate design assets from multiple social media platforms.</li>
          </ul>
        </div>
        <div class="resume-item">
          <h5>Helpful Things</h5>
          <h6>Content Editor, Project Manager - Online Dating Platform</h6>
          <p><em>Los Angeles, CA</em></p>
          <ul>
            <li>Determine project goals and priorities</li>
            <li>Lead exploratory, development, and implementation phases of content-marketing initiative</li>
          </ul>
        </div>
        <div class="resume-item">
          <h5>RHM Global</h5>
          <h6>Director of Client Relationships - Geopolitical Intelligence Service</h6>
          <p><em>New York, NY</em></p>
          <ul>
            <li>Management position at a major firm handling highly sensitive, market-moving information</li>
            <li>Research, acquire, and maintain client relationships</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="resume-item mb-4">
          <h5>Languages, Frameworks &amp; Libraries</h5>
          <ul>
            <li>Javascript</li>
            <li>CSS</li>
            <li>ES6</li>
            <li>MERN Stack: Mongoose, Express, React, NodeJS</li>
            <li>REST APIs</li>
            <li>JQuery</li>
            <li>Passport</li>
            <li>OAuth2</li>
            <li>MySQL</li>
            <li>Sequelize</li>
            <li>Heroku</li>
            <li>Handlebars</li>
            <li>PWAs</li>
            <li>Jest / TDD</li>
            <li>Bootstrap</li>
            <li>Foundation</li>
            <li>Material</li>
          </ul>
        </div>
        <div class="resume-item mb-5">
          <h5>Concepts &amp; Best Practices</h5>
          <ul>
            <li>Agile Development</li>
            <li>Scrum</li>
            <li>CRUD</li>
            <li>Algorithmic Complexity</li>
            <li>Event-Loop</li>
          </ul>
        </div>
        <h3 class="resume-title mb-4">Education</h3>
        <div class="resume-item">
          <h5 class="mb-2">UCLA-Extension</h5>
          <h6> Fullstack Development Bootcamp</h6>
        </div>
        <div class="resume-item">
          <h5 class="mb-2">Bennington College</h5>
          <h6>BA in Translation and Comparitive Literature</h6>
        </div>
      </div>
    </div>

  </div>
</section>