<div id="sidenav-show" class="sidenav text-right">
  <a href="javascript:void(0)" class="closebtn btn" id="closebtn">&times;</a>
  <a class="btn btn-link" href="https://github.com/koyeary" target="_blank"><i
      class="fab fa-github mr-3"></i>GitHub</a>
  <a class="btn btn-link" href="https://www.linkedin.com/in/kat-yeary/" target="_blank"><i
      class="fab fa-linkedin-in mr-3"></i>LinkedIn</a>
  <a class="btn btn-link" id="resume"><i
      class="fas fa-code mr-3"></i> Resume</a>
  <a class="btn btn-link personal" data-toggle="modal" data-target="#contact"><i class="fas fa-paper-plane mr-2"></i>
    Contact</a>
</div>

<div class="btn navbar-toggler btn-link toggle-color" data-bs-toggle="collapse" data-bs-target="sidenav-show"
  id="toggle-sidenav">&#9776;
</div>