<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <blockquote class="blockquote">
        <i class="fas fa-3x fa-quote-left mb-3"></i>
        <p class="mb-0"><span class="quote mr-2" style="font-size: calc(18px + (24 - 16) * 70vw / (800 - 400));">I would recommend Kat</span>on any future programming
          project...She proved responsive
          to our needs, quality-oriented, and an effective communicator during the entirity of the
          project.</p>
        <p class="text-right"><i class="fas fa-3x fa-quote-right"></i></p>
        <footer class="blockquote-footer text-left"><cite title="Source Title">Cat Frazier, It's
            Animated Text</cite></footer>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="blockquote">
        <i class="fas fa-3x fa-quote-left mb-3"></i>
        <p class="mb-0">Kat was part of a group that completed an MVP for my small delivery service in just 2 weeks. They were a pleasure to work with and<br><span class="quote mr-2 text-centered" style="font-size: calc(18px + (24 - 16) * 60vw / (800 - 400));">did a great job in a short amount of time,<br></span>particularly on authentication and UX/UI.
        </p>
        <p class="text-right"><i class="fas fa-3x fa-quote-right"></i></p>
        <footer class="blockquote-footer text-left"><cite title="Source Title">Dylan Lunde, Lunde Water</cite></footer>
      </blockquote>
    </div>
    {{!-- <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div> --}}
  </div>
</div>