<div class="resume-body">
  <div class="container py-5">
    <div class="row py-5">
    <div class="card shadow-lg">
      <div class="card-body mx-3 p-5">
        <div class="section-title mb-5">
          <h1>Experience</h1>
          <hr>
        </div>

        <div class="row">
          <div class="col-lg-6 pr-4">
            <h3>Professional</h3>
            <hr>
            <div class="resume-item">
              <h5>Lunde Water</h5>
              <h6>Software Engineer - Work-Order Application</h6>
              <p><em>Los Angeles, CA</em></p>
              <ul>
                <li class="resume-description">Develop back-end authentication server using passport-local</li>
                <li class="resume-description">Collaborate to create a final product with mapping, scheduling,
                  purchasing, and payroll capabilities
                </li>
                <li class="resume-description">Structure complex code using multiple modules</li>
                <li class="resume-description">Collaborate with the client and team of developers to define and
                  prioritize solutions</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>It's Animated Text</h5>
              <h6>Software Engineer - E-Commerce Platform</h6>
              <p><em>Los Angeles, CA</em></p>
              <ul>
                <li class="resume-description">Recreate tumblr environment and functionality using Tumblr API</li>
                <li class="resume-description">Use Agile development practices to collaboratively define, schedule, and
                  execute project goals</li>
                <li class="resume-description">Dynamically integrate design assets from multiple social media platforms.
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>Helpful Things</h5>
              <h6>Content Editor, Project Manager - Online Dating Platform</h6>
              <p><em>Los Angeles, CA</em></p>
              <ul>
                <li class="resume-description">Determine project goals and priorities</li>
                <li class="resume-description">Lead exploratory, development, and implementation phases of
                  content-marketing initiative</li>
              </ul>
            </div>
            <div class="resume-item">
              <h5>RHM Global</h5>
              <h6>Director of Client Relationships - Geopolitical Intelligence Service</h6>
              <p><em>New York, NY</em></p>
              <ul>
                <li class="resume-description">Management position at a major firm handling highly sensitive,
                  market-moving information</li>
                <li class="resume-description">Research, acquire, and maintain client relationships</li>
                <li class="resume-description">Supplemental intelligence reporting for editor and CEO</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 pl-4">
            <div class="resume-item mb-2">
              <h3>Languages, Frameworks &amp; Libraries</h5>
                <hr>
                <ul>
                  <li class="resume-description">Javascript</li>
                  <li class="resume-description">ES6</li>
                  <li class="resume-description">MERN Stack: Mongoose, Express, React, NodeJS</li>
                  <li class="resume-description">CSS</li>
                  <li class="resume-description">Sass</li>
                  <li class="resume-description">Redux</li>
                  <li class="resume-description">REST APIs</li>
                  <li class="resume-description">JQuery</li>
                  <li class="resume-description">Passport</li>
                  <li class="resume-description">OAuth2</li>
                  <li class="resume-description">MySQL</li>
                  <li class="resume-description">Sequelize</li>
                  <li class="resume-description">Heroku</li>
                  <li class="resume-description">Handlebars</li>
                  <li class="resume-description">PWAs</li>
                  <li class="resume-description">Jest / TDD</li>
                  <li class="resume-description">Bootstrap</li>
                  <li class="resume-description">Foundation</li>
                  <li class="resume-description">Material</li>
                </ul>
            </div>
            <div class="resume-item mb-5">
              <h5>Concepts &amp; Best Practices</h5>
              <ul>
                <li class="resume-description">Agile Development</li>
                <li class="resume-description">Scrum</li>
                <li class="resume-description">CRUD</li>
                <li class="resume-description">Algorithmic Complexity</li>
                <li class="resume-description">Event-Loop</li>
              </ul>
            </div>
            <h3 class="resume-title mb-4">Education</h3>
            <hr>
            <div class="resume-item">
              <h5 class="mb-2">UCLA-Extension</h5>
              <div class="resume-description"> Fullstack Development Bootcamp</div>
            </div>
            <div class="resume-item">
              <h5 class="my-2">Bennington College</h5>
              <div class="resume-description">BA in Translation</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>