html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #3cdbc1, #0086d6);
  font-family: 'Roboto', sans-serif;
  color: #4c4d4d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Assistant', sans-serif;
  font-weight: 200;
}

i {
  font-size: 1.5rem;
}

/* --- Navbar --- */

.top {
  background-color: transparent;
}

.nav-color {
  background-color: #ffffff;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
}

.toggle-color {
  color: #ffffff;
  font-weight: 200;
}

/* --- Header (Jumbotron) --- */

.sub-header {
  font-size: 22px;
  color: #fafdff;
}

@media screen and (max-width: 360px) {
  .sub-header {
    font-size: 18px;
  }
}

.by-line {
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
}

@media screen and (max-width: 360px) {
  .by-line {
    font-size: 14px;
  }
}

.typewriter {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
  color: #fafdff;
  border-right: solid 3px transparent;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .typewriter {
    font-size: 2.25em;
  }
}

.typewriter {
  animation: animated-text 2s steps(23, end) .5s 1 normal both,
    animated-cursor 700ms steps(23, end) 7;
}

@keyframes animated-text {
  from {
    width: 0%;
  }
  to {
    width: 96%;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #ffffff;
  }
  to {
    border-right-color: transparent;
  }
}

.delay-visibility {
  animation: delayVisibility ease 4s;
  -webkit-animation: delayVisibility ease 4s;
  -moz-animation: delayVisibility ease 4s;
  -o-animation: delayVisibility ease 4s;
  -ms-animation: delayVisibility ease 4s;
}
@keyframes delayVisibility {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes delayVisibility {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes delayVisibility {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes delayVisibility {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes delayVisibility {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --- About (Get to Know Me --- */

.about {
  color: #0086d6;
}

.about:hover {
  color: #3cdbc1;
  text-decoration: none;
}

.toggle-color:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-outline-light:hover {
  color: #00C1D4;
}

.fa-quote-right,
.fa-quote-left {
  color: #2da892;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #0086d6;
}

.personal {
  color: #ffffff;
}

.personal:hover {
  color: #ffffff;
  text-shadow: 0 0 1.5px #ffffff;
  text-decoration: none;
}

/* --- Resume Page --- */

.resume-body {
  background-color: #2da892;
}

.resume-item {
  padding-top: 15px;
  padding-bottom: 7px;
}

.resume-description {
  font-size: min(max(16px, 4vw), 18px);
}

/* --- Footers --- */

.footer {
  box-shadow: 4px 3px 6px 4px rgba(0, 0, 0, 0.8);
  background-color: #2da892;
}

.smaller {
  font-size: 16px;
}
